/* STRUCTURES - MISC */
body {
    margin: 0px;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: hsl(231deg 15% 18% / 25%);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(191deg 97% 65% / 75%);
    border-radius: 5px;
}

/* STRUCTURES - CONTAINERS */
.section {

}

.section-drac-gray .section-content-wrapper {
    background: var(--drac-gray1);
}

.section-content-wrapper {
    height: 100%;
    padding: 0px 8%;
}

/* STRUCTURES - BUTTONS */


/* STRUCTURES - FORMS */

/* TEXT */
html {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

p, a, li, ul {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.title, .subtitle {
    font-family: 'Fira Code', monospace;
    font-size: 32px;
}

.subtitle {
    font-size: 24px;
}

.copy {
    font-size: 18px;
}

/* COLORS */
.drac-lime {
    color: var(--drac-lime1)
}

.drac-cyan {
    color: var(--drac-cyan1)
}

.drac-gray {
    color: var(--drac-gray1)
}

.drac-gray-accent1 {
    color: var(--drac-gray-accent1);
}

/* VISUAL COMPONENTS */
.bg-gray {
    background-color: var(--drac-gray1);
}

/* DISPLAY */
.hidden {
    display: none;
}


