#section-nav {
    position: absolute;
}

#section-landing {
    height: 100vh;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

#landing-bg-video-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
}

#section-landing .section-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

#section-landing .section-content-wrapper.bg-fade {
    background: hsla(231, 15%, 18%, 0.33);
}

#landing-copy-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 107px;
    justify-content: center;
    align-items: center;
}

#landing-title-container {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    width: 100%;
}

#landing-links-container, .landing-link-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 26px;
}

.landing-link-container {
    flex-wrap: nowrap;
    width: fit-content;
}

.landing-link-container>.landing-link-component {
    color: var(--drac-cyan1);
}

#section-bio {
    height: 700px;
    border: 1px solid gray;
}

#section-projects>.section-content-wrapper {
    background-color: var(--drac-gray-accent2);
}

.project-card {
    max-width: 950px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 10px 55px #000000b3;
}

.card-topbar {
    min-height: 15px;
    padding: 5px 15px;
    background: hsl(231 25% 10% / 1);
}

.card-topbar p {
    font-family: 'Fira Code', monospace;
    color: var(--drac-gray-accent1);
}

.card-content {
    padding: 20px 15px;
    color: var(--drac-gray1);
    background-color: var(--drac-gray-accent1);
}

.page-1,
.card-title-container,
.card-title-copy,
.card-links-container,
.card-summary-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.card-title-container {
    row-gap: 15px;
}

.card-title {
    font-size: 24px;
}

.card-img {
    width: 100%;
}

.info-prompt {
    border: 1px solid slategray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 15px;
    /* background-color: var(--drac-gray-accent1); */
    background: linear-gradient(123deg, var(--drac-gray1) 11%, var(--drac-cyan1) 12%, var(--drac-cyan1) 21%, var(--drac-lime1) 22%, var(--drac-lime1) 32%, var(--drac-gray-accent1) 33%);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 15px #80808063;
}

.info-prompt-text {
    font-family: 'Fira Code', monospace;
    font-weight: bold;
    padding: 4px;
}

.card-links-container {
    row-gap: 10px;
}

.card-link {
    display: flex;
    align-items: center;
}

.card-link i {
    font-size: 18px;
    margin-right: 7px;
}

.card-content .collapse-hidden {
    display: none;
}