body {
    overflow-x: hidden;
}

#section-nav {
    position: absolute;
}

#section-landing {
    height: 100vh;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.bg-video-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
}

#section-landing .section-content-wrapper, #section-projects .section-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

#section-landing .section-content-wrapper.bg-fade, #section-projects .section-content-wrapper.bg-fade {
    background: hsla(231, 15%, 18%, 0.33);
}

#landing-copy-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 107px;
    justify-content: center;
    align-items: center;
}

#landing-title-container {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    width: 100%;
}

#landing-links-container, .landing-link-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 26px;
}

.landing-link-container {
    flex-wrap: nowrap;
    width: fit-content;
}

.landing-link-container>.landing-link-component {
    color: var(--drac-cyan1);
}

#section-bio {
    height: 700px;
    border: 1px solid gray;
}

#section-projects .section-content-wrapper {
    min-height: 100vh;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 0px;
    padding-right: 0px;
}

#project-cards-container {
    margin-top: 165px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 75px;
    row-gap: 75px;
    padding: 0px 8%;
}

#projects-header-container {
    position: absolute;
    color: var(--drac-lime1);
    font-weight: bold;
    font-style: italic;
    font-family: 'Fira Code';
    font-size: 48px;
    padding-left: 8%;
    background: hsl(231deg 15% 18% / 67%);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--drac-lime1);
    border-bottom: 1px solid var(--drac-lime1);
}

.project-card {
    max-width: 515px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0px 10px 55px #000000b3;
    background: hsl(231deg 15% 18% / 65%);
    position: relative;
}

@keyframes increase-width {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
}

@keyframes decrease-width {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

.card-back {
    background:hsl(231deg 49.59% 5.89%);
    position: absolute;
    height: 100%;
    width: 0%;
    overflow: hidden;
    border-radius: 10px;
}

.kf-decrease-width {
    animation: decrease-width .3s forwards;
}

.kf-increase-width {
    animation: increase-width .3s forwards;
}

.card-back.kf-increase-width {
    border-right: 5px solid var(--drac-lime1);
    box-sizing: border-box;
}

.card-topbar {
    background: url("../resources/images/pi-hardware-1.jpg");
    background-size: cover;
    background-position: center;
    height: 150px;
    display: flex;
    align-items: flex-end;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    padding: 20px 15px;
    color: var(--drac-gray1);
}

.details-container,
.card-title-container,
.card-title-copy,
.card-links-container,
.card-summary-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.card-title-container {
    background: hsl(231deg 15% 18% / 81%);
    color: var(--drac-lime1);
    padding: 10px 15px;
    width: 100%;
    font-weight: bold;;
}

.card-title {
    font-size: 24px;
}

.card-img {
    height: 200px;
    width: auto;
}

.summary-copy, .detail-copy {
    color: white;
}

.info-prompt {
    border: 1px solid slategray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 15px;
    background-color: var(--drac-lime1);
    background: linear-gradient(99deg, #4FDDFC -30.63%, #52FA7C);
    background-color: var(--drac-lime1);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 15px #80808063;
    width: calc(100% - 30px);
    margin: 20px auto;
    position: relative;
}

.info-prompt-nav-style {
    transition: width .4s, height .9s, border-radius .9s, margin-right .9s, transform .7s, background-color .9s;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin-right: 0px;
    transform: translate(35px, 0px);
    z-index: 1;
    border-radius: 900px;
    padding: 7px;
    display: flex;
    align-items: center;
    background: var(--drac-gray1);
    background-color: var(--drac-gray1);
    box-shadow: 0px 0px 15px 2px hsl(135deg 94% 65% / 50%);
}

.info-prompt-text {
    font-family: 'Fira Code', monospace;
    font-weight: bold;
    text-align: center;
    padding: 4px 0px;
}

.info-prompt-nav-style .card-nav {
    font-size: 38px;
    color: var(--drac-lime1);

}

.card-links-container {
    row-gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 17px;
}

.card-link {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    width: fit-content;
    background: hsl(231deg 66.21% 6.25%);
}

.card-link-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    width: 45px;
    min-width: 45px;
    background: linear-gradient(99deg, #4FDDFC -30.63%, #52FA7C);
}

.card-link-icon-container i {
    font-size: 22px;
}

.card-link a {
    width: 100%;
    padding: 8px 17px;
    color: white;
}

@keyframes supress-scrollbar-y {
    from, to {
        overflow: hidden;
    }
}

.details-container {
    padding: 15px;
    padding: 15px 10px;
    border-radius: 5px;
    position: absolute;
    width: 200px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.detail-header {
    font-family: 'Fira Code', monospace;
    font-weight: bold;
    font-size: 18px;
    color: white;
    box-shadow: inset 0px -10px hsl(231, 15%, 18%);
    padding-left: 5px;
}

.detail-copy-group {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0px 10px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.detail-copy {
    font-size: 16px;
}