:root {
    --drac-gray1: hsl(231, 15%, 18%);
    --drac-cyan1: hsl(191, 97%, 65%);
    --drac-lime1: hsl(135, 94%, 65%);
    --drac-gray-accent1: hsl(231, 25%, 90%);
    --drac-gray-accent2: hsl(231, 30%, 82%);

    --card-padding: 10px 15px;
}