#date {
  margin-top:500px;
}

body {
    text-align: center;
    background-image: url(../media/wallpaper1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right; 
    background-size: cover;
}

div {
  background-color:transparent;
}

div .row div {
  background-color:transparent;
}

.nav-item{
  text-align: right;
}

section {
  height:100vh;
}

#cover-page {
  height:100vh;
}

#cover-content-row {
  height:100vh;
}

.center-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
}

#description-setup {
  display: inline-block;
}

#description-variable {
  display: inline-block;
}

img { 
    width: auto; 
}

header {
	background: #563d7c;
	padding: 2em 1em;
	color: #fff;
	margin-bottom: 2em;
}

.card {
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
    background-color:transparent;
}

[class*="row"] {
    margin-bottom: 1rem;
    justify-content: center;
}

[class*="col-"] {
    background: #fff;
    border: 1px solid #ddd;
    padding-top: .75rem;
    padding-bottom: .75rem;
    width: 100%
}








/* The Modal (background) */
.modal {
    
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */

  }

.modal-dialog {
    
    width:75%;
}

  /* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 75%;
    border: 5px solid red;
  }

  /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 900px){
    .modal-content {
      width: 100%;
    }
  }


/* Misc classes */
  /* Animations! Great example code here: http://www.justinaguilar.com/animations/# */
  .slideLeftIn{
    animation-name: slideLeftIn;
    -webkit-animation-name: slideLeftIn;	
  
    animation-duration: 1s;	
    -webkit-animation-duration: 1s;
  
    animation-timing-function: ease-in-out;	
    -webkit-animation-timing-function: ease-in-out;		
  
    visibility: visible !important;	
  }
  
  @keyframes slideLeftIn {
    0% {
      transform: translateX(150%);
    }
    50%{
      transform: translateX(-8%);
    }
    65%{
      transform: translateX(4%);
    }
    80%{
      transform: translateX(-4%);
    }
    95%{
      transform: translateX(2%);
    }			
    100% {
      transform: translateX(0%);
    }
  }
  
  @-webkit-keyframes slideLeftIn {
    0% {
      -webkit-transform: translateX(150%);
    }
    50%{
      -webkit-transform: translateX(-8%);
    }
    65%{
      -webkit-transform: translateX(4%);
    }
    80%{
      -webkit-transform: translateX(-4%);
    }
    95%{
      -webkit-transform: translateX(2%);
    }			
    100% {
      -webkit-transform: translateX(0%);
    }
  }




  .slideLeftOut{
    animation-name: slideLeftOut;
    -webkit-animation-name: slideLeftOut;	
  
    animation-duration: 1s;	
    -webkit-animation-duration: 1s;
  
    animation-timing-function: ease-in-out;	
    -webkit-animation-timing-function: ease-in-out;		
  
    visibility: visible !important;	
  }
  
  @keyframes slideLeftOut {
    0% {
      transform: translateX(0%);
    }
    50%{
      transform: translateX(-10%);
    }
    65%{
      transform: translateX(-25%);
    }
    80%{
      transform: translateX(-60%);
    }
    95%{
      transform: translateX(-100%);
    }			
    100% {
      transform: translateX(-150%);
    }
  }
  
  @-webkit-keyframes slideLeftOut {
    0% {
      -webkit-transform: translateX(0%);
    }
    50%{
      -webkit-transform: translateX(-10%);
    }
    65%{
      -webkit-transform: translateX(-25%);
    }
    80%{
      -webkit-transform: translateX(-60%);
    }
    95%{
      -webkit-transform: translateX(-100%);
    }			
    100% {
      -webkit-transform: translateX(-150%);
    }
  }



