#date {
  margin-top:500px;
}

body {
    text-align: center;
    background-image: url(../media/wallpaper3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right; 
    background-size: cover;
}

div {
  background-color:transparent;
}

div .row div {
  background-color:transparent;
}

.nav-item{
  text-align: right;
}

section {
  height:100vh;
}

#cover-page {
  height:100vh;
}

#cover-content-row {
  height:100vh;
}

.center-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
}

#i-am-a {
  border:2px solid red;
}

#what-i-am {
  border:2px solid blue;
}

img { 
    width: auto; 
}

header {
	background: #563d7c;
	padding: 2em 1em;
	color: #fff;
	margin-bottom: 2em;
}

.card {
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
    background-color:transparent;
}

[class*="row"] {
    margin-bottom: 1rem;
    justify-content: center;
}

[class*="col-"] {
    background: #fff;
    border: 1px solid #ddd;
    padding-top: .75rem;
    padding-bottom: .75rem;
    width: 100%
}








/* The Modal (background) */
.modal {
    
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */

  }

.modal-dialog {
    
    width:75%;
}

  /* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 75%;
    border: 5px solid red;
  }

  /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 900px){
    .modal-content {
      width: 100%;
    }
  }



